  {{#section 'title'}}
    Products
{{/section}}
  {{#section 'js'}}

 <script type="text/javascript">
     {{#each page_numbers}}
        {{#if isCurrentPage}}
    var i = {{value}};
    {{/if}}
    {{/each}}
   var k =  {{nPages}} -  {{nPages}}%1;
    $('.next-page').on('click', function() {
     if(i==k )
     { 
       window.location.href = `?page=${i}`;
      }
      else
      {
      window.location.href = `?page=${i+1}`;
      }
    });

    $('.prev-page').on('click', function() {
     if(i==1 )
     { 
       window.location.href = `?page=${1}`;
      }
      else
      {
      window.location.href = `?page=${i-1}`;
      }
    });
  </script>

{{/section}}
 <div class="container_fullwidth">
        <div class="container">
    <div class="row">
   
            


{{#if noProducts}}
<div class="row">
  <div style="text-align:center;margin-top: 100px; margin-bottom:100px;" class="col-sm-12 col-md-12 col-lg-12">
   <h1> NO PRODUCTS</h1>
  </div>
</div>
{{else}}
<div class="col-md-12">
   <div class="pager ">
                    <a  class="prev-page">
                      <i class="fa fa-angle-left">
                          <img src="/media/images/left-arow.png" alt="Previous">
                      </i>
                    </a>
                    {{#each page_numbers}}
    {{#if isCurrentPage}}
                    <a href="#" class="active">
                      {{value}}
                    </a>
                    {{else}}
                    <a href="?page={{value}}">
                     {{value}}
                    </a>
                      {{/if}}   
  {{/each}}
                    <a  class="next-page">
                      <i class="fa fa-angle-right">
                          <img src="/media/images/right-arow.png" alt="Next">
                      </i>
                    </a>
                  </div>
</div>  
 <div class="row">

{{#each products}}
 
                  <div class="col-md-3 col-sm-4">
                    <div class="products">
                      <div class="thumbnail">
                        <a href="details.html">
                          <img src="/media/images/Wine/{{ProID}}.png" alt="{{ProName}}">
                        </a>
                      </div>
                      <div class="productname">
                        {{ProName}}
                      </div>
                      <h4 class="price">
                        ${{number_format Price}}
                      </h4>
                      <div class="button_group">
                        <button class="button add-cart" type="button">
                          Add To Cart
                        </button>
                      </div>

</a>
          {{#if ../layoutVM.isLogged}}
          <a data-proid="{{ProID}}" href="javascript:;" class="btn btn-default addItem">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Add
          </a>
          {{/if}}


                    </div>
                  </div>
              
                {{/each}}
                  </div>




<div class="col-md-12">
        <div class="pager">
                    <a  class="prev-page">
                      <i class="fa fa-angle-left">
                          <img src="/media/images/left-arow.png" alt="Previous">
                      </i>
                    </a>
                    {{#each page_numbers}}
    {{#if isCurrentPage}}
                    <a href="#" class="active">
                      {{value}}
                    </a>
                    {{else}}
                    <a href="?page={{value}}">
                     {{value}}
                    </a>
                      {{/if}}   
  {{/each}}
                    <a  class="next-page">
                      <i class="fa fa-angle-right">
                          <img src="/media/images/right-arow.png" alt="Next">
                      </i>
                    </a>
                  </div>
</div>






 {{/if}}
 </div>
</div>
 </div>
 </div>